<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- EncryptFacade Setting -->
    <add key="EncryptFacadeName" value="EDC.DesignPattern.Facade.NewEncryptFacade, EDC.DesignPattern.Facade" />
  </appSettings>
</configuration>