<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="LoggerFactory" value="EDC.DesignPattern.FactoryMethod.v2.FileLoggerFactory, EDC.DesignPattern.FactoryMethod" />-->
    <add key="LoggerFactory" value="EDC.DesignPattern.FactoryMethod.v3.DatabaseLoggerFactory, EDC.DesignPattern.FactoryMethod" />
  </appSettings>
</configuration>